//
//  Secrets.xcconfig
//  tBag
//
//  Created by Manabu Tonosaki on 2025-12-30.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Google Client ID
GID_CLIENT_ID = 1068950824236-e1gcqevshf3t2n4e64hv3a6sg2hlrduh.apps.googleusercontent.com

// Google Workspace hosted domain name
AUTHENTICATION_HOSTED_DOMAIN = com.tomarika.tBag
